<footer class="site-footer"> 
    <div class="w3-container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">This Website offer the possibility to take a look to all the data visualization assignments' results made by the group MammaMia! for the Data Visualization's course</p>
        </div>

        <div class="w3-half">
          <h6>Useful Links</h6>
          <ul class="footer-links">
            <li><a href="https://d3-graph-gallery.com/">D3.js</a></li>
          </ul>
        </div>

        <div class="w3-half">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="assignment1.html">Assignment 1</a></li>
            <li><a href="assignment2.html">Assignment 2</a></li>
            <li><a href="assignment3.html">Assignment 3</a></li>
            <li><a href="assignment4.html">Assignment 4</a></li>

          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="w3-container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
       <a href="#">MammaMia!</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>
