<div class="w3-bar-block">
  <br>
  <div class="sidebar-link w3-light-blue w3-button">
    <i class="fa fa-remove fa-xl"></i><a href="#" class="w3-bar-item w3-button w3-padding-16" onclick="w3_close()">Close Menu</a>
  </div>
  <br>
  <hr>
  <div class="sidebar-link w3-button w3-padding">
    <i class="fa fa-home fa-xl"></i><a href="index.html" class="w3-bar-item w3-button">Home</a>
  </div>
  <div class="sidebar-link w3-button w3-padding">
    <i class="fa fa-chart-line fa-xl"></i><a href="assignment1.html" class="w3-bar-item w3-button">Assignment 1</a>
  </div>
  <div class="sidebar-link w3-button w3-padding">
    <i class="fa fa-chart-line fa-xl"></i><a href="assignment2.html" class="w3-bar-item w3-button">Assignment 2</a>
  </div>
  <div class="sidebar-link w3-button w3-padding">
    <i class="fa fa-chart-line fa-xl"></i><a href="assignment3.html" class="w3-bar-item w3-button">Assignment 3</a>
  </div>
</div>
