<br>
    <hr>
  
    <div class="w3-bar-block">
      <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-light-blue w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
      <a href="index.html" class="w3-bar-item w3-button w3-padding"><i class="fa fa-home fa-xl" ></i>  Home</a>
      <a href="./First_Week/assignment1.html" class="w3-bar-item w3-button w3-padding"><i class="fa fa-chart-line fa-xl"></i>  Assignment 1</a>
      <a href="weight.html" class="w3-bar-item w3-button w3-padding"><i class="fa fa-chart-line fa-xl"></i>  Assignment 2</a>
      <a href="kcal.html" class="w3-bar-item w3-button w3-padding"><i class="fa fa-chart-line fa-xl"></i>  Assignment 3</a>
      <a href="walk.html" class="w3-bar-item w3-button w3-padding"><i class="fa fa-chart-line fa-xl"></i>  Assignment 4</a>
    </div>
