<div class="w3-bar w3-top w3-large" style="z-index:4; background-color: #7ac2fc;">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
    <span class="w3-bar-item w3-left">
      <a href="index.html" class="text-decoration-none">
        <img src="../images/icons8-first-aid-kit-57.png" alt="">
          <!-- <i class="fa fa-kit-medical w3-xxxlarge" style="size: 1000px; "></i> --> <span > Assignment Data Viz </span>
      </a>
    </span>
  </div>
